@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Roboto', sans-serif
}

.container {
    margin-left: 15%;
    margin-right: 15%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.logo {
    width: 200px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(88, 0, 189);
}

.nav-links a:hover {
    text-decoration: underline;
}

.astro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.astros {
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

.texts {
    font-size: 50px;
}

footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: whitesmoke;
        height: 100px;
}

















/* medias */
@media (max-width:768px) {
    .astros {
        width: 400px;
        justify-content: center;
        align-items: center;
    }
}